<%- include('./header') %>

    <body>
        <div class="maindiv">
            <link rel="stylesheet" href="css/main.css" />
            <h1>Junos API</h1>
            <div class="button-area">
                <button type="button">설명서</button>
                <button type="button">등록</button>
            </div>
        </div>
    </body>